<ul>
	<li>
		<a href="https://mnzr.github.io">
		Profile
		</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">
		Blog
		</a><span>/</span>
	</li>
	<li>
		<a href="https://twitter.com/mnz_r">
		Twitter
		</a><span>/</span>
	</li>
	<!--
	{% if site.harmony.social.github %}
	<li>
		<a title="{{ site.harmony.social.github }} on Github" 
			href="https://github.com/gayanvirajith/harmony" target="_blank">
			Download
		</a><span>/</span>
	</li>
	{% endif %}
	-->
</ul>